---
import Container from '../components/Container.astro'

export interface Link {
  link: string
  image: string
  alt: string
  width: string
  height: string
}

export interface Props {
	text?: string
  links?: Link[]
}

const { text, links } = Astro.props
---

<section class="banner">
  <Container>
    <div class="wrapper">
      { text && (<h2 class="text">{text}</h2>) }
      { links?.length && (
        links.map((item) => (
          <a class="link" href={item.link} rel="noreferrer" target="_blank">
            <img class="logo" width={item.width} height={item.height} src={item.image} alt={item.alt} />
          </a>
        ))
      )}
    </div>
  </Container>
</section>

<style>
  .banner {
    background: var(--color-secondary-gradient);
    text-align: center;
    margin: 2rem 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  .text {
    max-width: 720px;
    font-size: 1.475rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-background);


    @media screen and (max-width: 720px) {
      font-size: 1.25rem;
    }
  }

  .link {
    margin: 1rem 0.5rem;
    transition: var(--bounce);
  }

  .link:hover {
    transform: scale(1.2);
  }

  .logo {
    /* max-width: 70%; */
    margin: var(--centralize);
  }
</style>
